*, html {
    margin: 0;
    padding: 0;
}

.container {}

.navbar {
    background-color: grey;
    width: 100%;
    height: 10vh;

}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    color: wheat;
    font-size: 30px;

}

#biodata{
    background: teal;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.li-navbar :hover {
    background-color: black;
    transition: .2s ease-in-out;
    transition-delay: .3s;
    border-radius: 10px;
}

.a-navbar {
    color: wheat;
    text-decoration: none;
    font-weight: 800 ;

}

.container-content {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

.a-content {
    background-color: wheat;
    color: black;
    text-decoration: none;
    font-size: 30px;
    width: 720px;
    height: 480px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(64, 62, 16, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(64, 62, 16, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(64, 62, 16, 0.75);
}

.img-content {
    width: 50%;
    height: 30%;
}

.container-footer {
    height: 10vh;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 40px;
    color: crimson;
}